# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

stats.html
built/

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

.env.local
.env.*.local
/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Editor directories and files
.idea
.fleet
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
launch.json

.turbo

# Supabase
.branches
.temp

.vercel
eslint-typegen.d.ts
