/*noinspection CssUnknownTarget*/
@import url('https://cdn.jsdelivr.net/gh/kyle1an/cust-fonts@latest/style/fonts/SF-fonts.min.css');

@tailwind base;
@tailwind components;

.overflow-scrolling-touch {
  -webkit-overflow-scrolling: touch !important;
}

.text-precision {
  text-rendering: geometricPrecision;
}

@tailwind utilities;

:root {
  --sys-font-stack: 'SF Pro Text', -apple-system, 'Inter', 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

html {
  font-family: var(--sys-font-stack);
  height: 100%;
  background-color: white;
}

.ffs-pre {
  font-feature-settings: 'cv01', 'ss02', 'cv02', 'cv03', 'cv04', 'cv05', 'cv06' 0, 'cv08' 0, 'nlck', 'ital', 'ss03', 'ss04';
}

body {
  min-height: 100%;
  @apply antialiased;
}

#app {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    -webkit-overflow-scrolling: touch;
  }

  body {
    overflow: auto;
  }
}
