@import url("https://cdn.jsdelivr.net/gh/kyle1an/cust-fonts@latest/style/fonts/SF-fonts.min.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  font-family: "-apple-system", "SF Pro Text", "BlinkMacSystemFont", "Inter",
    "system-ui", "Avenir", "Helvetica", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.before\:hidden-bold::before {
  display: block;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

table {
  /* pin header */
  border-collapse: separate;
  border-spacing: 0;
}

html textarea {
  letter-spacing: 0.02em;
}
