@property --squircle-outline {
  syntax: "<number>|<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-smooth {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.4;
}

@property --squircle-radius-top-left {
  syntax: "<number>|<length>";
  inherits: false;
}

@property --squircle-radius-top-right {
  syntax: "<number>|<length>";
  inherits: false;
}

@property --squircle-radius-bottom-right {
  syntax: "<number>|<length>";
  inherits: false;
}

@property --squircle-radius-bottom-left {
  syntax: "<number>|<length>";
  inherits: false;
}
