<!doctype html>
<html lang="en">
  <head>
    <!-- <script src="https://unpkg.com/react-scan/dist/auto.global.js"></script> -->
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/react.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Enhance your English learning with Subvocab. Input texts, like subtitles or articles, and instantly categorize words into known and new. Streamline your vocabulary enhancement with smart tools for tracking and personalized learning. Ideal for preparing for English media consumption."
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="white" />
    <script>
      {
        const THEME_KEY = "themeAtom";
        const theme = localStorage.getItem(THEME_KEY);
        if (theme === '"dark"' || (theme !== '"light"' && window.matchMedia("(prefers-color-scheme: dark)")?.matches)) {
          document.documentElement.classList.add("dark");
          const dark = "oklch(0.145 0 0)"; // --background
          document.querySelector('meta[name="theme-color"]')?.setAttribute("content", dark);
        }
      }
    </script>
    <% if(MODE === 'production') { %>
    <% } %>
    <title>Subvocab</title>
  </head>
  <body class="text-foreground overflow-y-scroll tracking-2 has-data-vaul-drawer:bg-black">
    <noscript>
      <strong>We're sorry, but this app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="root"></div>
    <script type="module" src="./src/main.tsx"></script>
  </body>
</html>
